.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-position: top 200px center;
  margin: auto;
  background-color: rgb(2, 3, 2);
  background-image: url("../../assets/models-website-q8-etr.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.Title {
  font-size: 40px;
  padding-top: 50px;
}
